body {
    background-color: lightskyblue;
}

#startContainer {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top: 300px;

}

.startHeader {
    padding-bottom:30px;
    font-size: 75px;
}

.startDesc{
    padding-bottom:30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    max-width: 750px;
    
}

.startButton{
    width: 100px;
    padding:5px;
    background-color: lightblue;
    border: solid .5px;
    border-radius: 5px;
}

.highscores{
    display: flex;
    justify-content: space-between;
    padding:30px;
}

.highscoresButton{
    width: 150px;
    padding:5px;
    background-color: lightblue;
    border: solid .5px;
    border-radius: 5px;
}

#timer{
    font-size:40px;
}


.choice-text {
    width: 100%;
    padding:5px;
    background-color: lightblue;
    border: solid .5px;
    border-radius: 5px;
    font-size: 20px;
}

.choice-prefix{
    padding:5px;
}

#question{
    font-size:25px;
    padding-bottom: 90px;

}

#questionContainer {
    display:none;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 300px;

}

.choice-container{
    display:flex;
    flex-direction: row;
    padding: 20px;
}

.end-container {
    display:none;
    flex-wrap:wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 300px;
}

.end-header{
    font-size: 75px;
}

.endResult{
    font-size:30px;
    padding: 50px;
}


#startBtn:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    cursor:pointer; 
}

.correct {
    background: linear-gradient(32deg, rgba(11, 223, 36) 0%, rgba(41, 232,111)100%);
}


.incorrect {
    background-color: red;
    box-shadow: 0 5px #666;
    transform: translateY(4px);

}

.choice-text:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    cursor:pointer;  
}

#submitBtn{
    width: 75px;
    padding:5px;
    background-color: lightblue;
    border: solid .5px;
    border-radius: 5px;
}

#submitBtn:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    cursor:pointer;  
}





